<div data-role="header">
  <h1>Editando Denuncias de Transito</h1>
</div>
<div data-role="content">
    <%= render 'form' %>
</div>


  <%= link_to 'Show', @denuncias_transito %> |
  <%= link_to 'Back', denuncias_transitos_path %>
