<div data-role="page" id="main">		
		<div role="main" class="ui-content">
		<div class="ui-grid-b center">
    			<div class="ui-block-a"><a class="menu"><i class="glyphicon glyphicon-map-marker"></i></a><p class="txt">Localízame</p></div>
    			<div class="ui-block-b"><a id="partido"  href="dependencias/filtroPartidos" class="menu"><i class="glyphicon glyphicon-briefcase"></i></a><p class="txt">Partidos</p></div>
                <div class="ui-block-c"><a  class="menu"><%= image_tag "twitter.png" , class: "twitter" %></a><p class="txt" id="tw">Tweets</p></div>
        </div>
        <div class="clear"></div>
      <!--  <div class="ui-grid-c center">
    			<div class="ui-block-a"><a class="menu"><i class="glyphicon glyphicon-globe"></i></a><p class="txt">...</p></div>
    			<div class="ui-block-b"><a class="menu"><i class="glyphicon glyphicon-phone-alt"></i></a><p class="txt">...</p></div>
    			<div class="ui-block-c"><a class="menu"><i class="glyphicon glyphicon-briefcase"></i></a><p class="txt">...</p></div>
    			<div class="ui-block-d"><a class="menu"><i class="glyphicon glyphicon-list-alt"></i></a><p class="txt">...</p></div>
        </div> -->
        <div class="buscar">
                <form>
                    <div class="ui-field-contain">
                        <select name="select-native-4" id="select">
                            <option>Elija un Estado</option>
                            <optgroup label="Occidente">
                                <option> Nayarit </option>
                                <option> Jalisco </option>
                                <option> Colima </option>
                                <option> Michoacán </option>
                            </optgroup>
                            <optgroup label="Oriente">
                                <option> Puebla </option>
                                <option> Veracruz</option>
                                <option> Tlaxcala </option>
                                <option> Hidalgo </option>
                            </optgroup>
                            <optgroup label="Noreste">
                                <option> Saltillo </option>
                                <option> Monterrey</option>
                                <option> Ciudad Victoria </option>
                            </optgroup>
                            <optgroup label="Sureste">
                                <option> Tabasco </option>
                                <option> Campeche </option>
                                <option> Quitana Roo </option>
                                <option> Yucatán </option>
                            </optgroup>
                            <optgroup label="Suroeste">
                                <option> Guerrero </option>
                                <option> Oaxaca </option>
                                <option> Chiapas </option>
                            </optgroup>
                            <optgroup label="Centronorte">
                                <option> Aguascalientes </option>
                                <option> Guanajuato </option>
                                <option> Querétaro </option>
                                <option> San Luis Potosí </option>
                                <option> Zacatecas </option>
                            </optgroup>
                            <optgroup label="Centrosur">
                                <option> Morelos </option>
                                <option> México </option>
                                <option> Distrito Federal </option>
                            </optgroup>
                        </select>
                    </div>
                    <input type="button" class="ui-btn" data-icon="search" data-iconpos="right" value="Buscar" >
                </form>

        </div>
	</div><!-- /content -->
</div>


